/* Glowing Bear theme: dark-spacious (dark theme with more spacing between lines) */
@import 'dark.css';

tr.bufferline {
    line-height: 1.4;
}

#bufferlines td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
